<div
  *ngIf="countries.length == 0; else table"
  class="alert alert-warning text-center"
>
  No hay países que mostrar
</div>

<ng-template #table>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Bandera</th>
        <th>Nombre</th>
        <th>Poblacion</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let country of countries; let i = index">
        <td>{{ i + 1 }}</td>
        <td></td>
      </tr>
    </tbody>
  </table>
</ng-template>
